#site.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 40px;
}

#site.dashboard .section {
  padding: 40px;
  background: $off-white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

@media (max-width: 800px) {
  #site.dashboard {
    grid-template-columns: 1fr;
  }
}
