.experience {
  .experience-summary {
    font-weight: 600;
    margin-bottom: 20px;
  }
  .timeline {
    position: relative;
    padding-left: 30px;
    list-style: none;
    margin-bottom: 50px;
    &:before {
      content: '';
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      width: 2px;
      background: #ddd;
    }
  }

  .timeline__item {
    position: relative;
    margin-bottom: 20px;
  }

  .timeline__node {
    cursor: pointer;
  }

  .timeline__details {
    display: none;
    margin-top: 10px;
  }

  .timeline__item.active .timeline__details {
    display: block;
  }

  .arrow-link {
    font-size: 1.25rem;
    &:after {
      width: 20px;
      height: 20px;
    }
  }
}
