.open-source {
  #github-heatmap {
    max-width: 100%;
    margin-top: 10px;
  }
  canvas {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .github-kpis {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
    li {
      margin: 3px 0;
    }
  }
}
