<section class="section experience">
  <div class="section__title">Experience</div>
  <div class="section__content">
    <div class="experience-summary">More than 5 years of professional web development experience.</div>
    <ul class="timeline">
      {% for job in site.data.experience %}
      <li class="timeline__item">
        <div class="timeline__node">
          <span class="job__time">{{ job.time }}</span> -
          <a class="job__company" href="{{ job.url }}" target="_blank">{{ job.company }}</a>
          <span class="job__position">{{ job.position }}</span>
        </div>
        <div class="timeline__details">
          {% assign lines = job.description | newline_to_br | split:'<br />' %}
          <ul>
          {% for line in lines %}
            {% if line != '' %}<li>{{ line }}</li>{% endif %}
          {% endfor %}
          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>

    <a href="{{site.linkedin}}" target="_blank" class="arrow-link">View My Linkedin</a>
  </div>
</section>
