<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc" data-repo="learneradarsh/SafetyMap">
      <figure class="project__pic">
        <a
          href="https://github.com/learneradarsh/SafetyMap/tree/master"
          target="_blank"
        >
          <img
            src="{{site.baseurl}}/img/featured/safetymap/safetymap2.png"
            alt=""
          />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a
            href="https://github.com/learneradarsh/SafetyMap/tree/master"
            target="_blank"
            >Safety Map</a
          >
        </div>
        <p>A Map where everyone can mark risk area to help others.</p>
      </figcaption>
    </div>

    <div class="project blistabloc" data-repo="learneradarsh/shopping-cart-assignment">
      <figure class="project__pic">
        <a href="https://journeydesign.io/" target="_blank">
          <img
            src="{{site.baseurl}}/img/featured/systemflow/journey.png"
            alt=""
          />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://journeydesign.io/" target="_blank">System Flow</a>
        </div>
        <p>Customer Onboarding Tool For Digital Product Project.</p>
      </figcaption>
    </div>

    <div class="project blistabloc" data-repo="learneradarsh/LibertyUI">
      <figure class="project__pic">
        <a href="https://vibein.me/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/vibeme/vibe.png" alt="" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://vibein.me/" target="_blank">Vibein.me</a>
        </div>
        <p>Tool For Influencers/Affiliate Marketers.</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a
          href="https://github.com/learneradarsh/shopping-cart-assignment/tree/develop"
          target="_blank"
        >
          <img
            src="{{site.baseurl}}/img/featured/apnabazar/sabkabazar.png"
            alt=""
          />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a
            href="https://github.com/learneradarsh/shopping-cart-assignment/tree/develop"
            target="_blank"
            >Apna Bazar</a
          >
        </div>
        <p>Small Ecommerce Application</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/learneradarsh/LibertyUI" target="_blank">
          <img
            src="{{site.baseurl}}/img/featured/libertyui/libertyui.png"
            alt=""
          />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/learneradarsh/LibertyUI" target="_blank"
            >LibertyUI</a
          >
        </div>
        <p>Business user dashboard page using Chart.JS</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic">
        <a
          href="https://github.com/MozillaKNITOpenSource/UICAP"
          target="_blank"
        >
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/uicap/uicap.png" alt="" />
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a
            href="https://github.com/MozillaKNITOpenSource/UICAP"
            target="_blank"
            >UICAP</a
          >
        </div>
        <p>Open source CSS framework.</p>
      </figcaption>
    </div>

    <div class="project interventions" data-repo="learneradarsh/codeater">
      <figure class="project__pic">
        <a href="https://github.com/learneradarsh/codeater" target="_blank">
          <img
            src="{{site.baseurl}}/img/featured/codeater/codeater.png"
            alt=""
          />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/learneradarsh/codeater" target="_blank"
            >Codeater</a
          >
        </div>
        <p>
          Platform for competitive programmers to play with code and solve
          problems.
        </p>
      </figcaption>
    </div>

    <div class="project interventions" data-repo="learneradarsh/JSPrac">
      <figure class="project__pic">
        <a
          href="https://github.com/learneradarsh/JSPrac/tree/main/bankist"
          target="_blank"
        >
          <img src="{{site.baseurl}}/img/featured/bankist/banking.png" alt="" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a
            href="https://github.com/learneradarsh/JSPrac/tree/main/bankist"
            target="_blank"
            >Bankist</a
          >
        </div>
        <p>
          Minimalist banking application using html, css, and javascript only.
        </p>
      </figcaption>
    </div>
  </div>
</section>
