<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/learneradarsh/LibertyUI" target="_blank">
          <img src="{{site.baseurl}}/img/featured/libertyui/libertyui.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/learneradarsh/LibertyUI" target="_blank">LibertyUI</a>
        </div>
        <p>Business user dashboard page using Chart.JS</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic">
        <a href="https://github.com/MozillaKNITOpenSource/UICAP" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/uicap/uicap.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/MozillaKNITOpenSource/UICAP" target="_blank">UICAP</a>
        </div>
        <p>Open source CSS framework.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/learneradarsh/codeater" target="_blank">
          <img src="{{site.baseurl}}/img/featured/codeater/codeater.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/learneradarsh/codeater" target="_blank">Codeater</a>
        </div>
        <p>Platform for competitive programmers to play with code and solve problems.</p>
      </figcaption>
    </div>
  </div>
</section>
