<header class="intro">
  <div class="intro__left">
    <h1 class="intro__hello">Hello!
      <span class="emoji wave-hand animated"></span>
    </h1>

    <h2 class="intro__tagline">I'm
      <span class="name">Adarsh Pandey</span>, a design-minded full stack developer focused on building scalable products &amp; experiences
      <span class="emoji"></span>
    </h2>

    <h3 class="intro__contact">
      <span>Hiring&quest;</span>
      <span class="emoji pointer"></span>

  <span>
    <a href="resume.pdf" target="_blank" rel="noopener" id="resume-link" class="highlight-link">Download Resume</a>
  </span>
    </h3>
  </div>
  <div class="intro__right">
    <img id="animeImage" src="/img/anime.svg" alt="Anime character" style="width:100%;height:100%;display:block;" />
  </div>
</header>
