<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Adarsh Pandey</span>, a design-minded front-end software engineer focused on building scalable products &amp; experiences
    <span class="emoji"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Hiring&quest;</span>
    <span class="emoji pointer"></span>
    <span>
      <a href="https://drive.google.com/file/d/1gUP23sw6EYEPVqjuINC9Qs5TrrGCtmIN/view?usp=sharing" target="_blank" class="highlight-link">Download Resume</a>
    </span>
  </h3>
</header>
