<section class="section summary">
  <div class="section__title">Summary</div>
  <div class="section__content">
    <p>Passionate full-stack developer who enjoys turning complex problems into elegant solutions.</p>
    <div class="summary-icons" style="margin-top:10px;">
      <a href="https://github.com/learneradarsh" target="_blank">
        <img src="{{site.baseurl}}/img/social/github.svg" alt="GitHub" style="height:30px;width:30px;margin:0 5px;"/>
      </a>
      <a href="https://leetcode.com/learneradarsh" target="_blank">
        <img src="{{site.baseurl}}/img/social/leetcode.svg" alt="LeetCode" style="height:30px;width:30px;margin:0 5px;"/>
      </a>
      <a href="https://www.linkedin.com/in/learneradarsh" target="_blank">
        <img src="{{site.baseurl}}/img/social/linkedin.svg" alt="LinkedIn" style="height:30px;width:30px;margin:0 5px;"/>
      </a>
    </div>
  </div>
</section>
